<main class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Comments</th>
                        <th scope="col">Status </th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions">
                        <td>{{ transaction.id }}</td>
                        <td>{{ transaction.date | date: 'MM/dd/yyyy' }}</td>
                        <td>{{ transaction.Comments }}</td>
                        <td> {{transaction.status}} </td>
                        <td>
                            <button type="button" (click)="viewDetails(transaction)" [attr.aria-label]="'View details for transaction ' + transaction.id">
                                View Details
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>